table{
	position: relative;
	left:-10px;
	top:-10px;
}
#waves-collumn-login{
	background-image: url('srcImages/wavesImg.png');
	width:600px;
	height: 1024px;
	position:relative;
	margin:auto;
	width:50%;
	padding:10px;
}
#register-collumn-login{
	padding: 50px;
	position: relative;
	left:15px;
	width: 500px;
	background-color: red;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.register-label{
	font-size: 22px;
	font-weight: bold;
	margin:auto;
}
.register-label img {
	padding: 5px 0px;
	width: 50%;
	height: 40px;
	width: 44px;
}
.register-input{
	height:39px;
	width: 340px;
	font-size: 17px;
}
.login-button{
	position: relative;
	font-size: 24px;
	font-weight: bold;
	border: 4px solid #18C1F2;
	border-radius: 15px;
	color:white;
	background-color: #18C1F2;
	text-align: center;
}
