<html></html>
  <head>
    <title>Favoritos</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>
    <section class="favorites-page">

       <!-- Seção Header -->
       <div class="header">
        <span class="registro-logo">AQUACENSUS</span>

        <input type="text" class="search-bar" placeholder="Buscar...">
        <div class="user-info">
          <img class="profile-img" src="../public/srcImages/profile-image.png" alt="Profile Image">
          <div class="user-details">
            <!-- Username Clicável -->
            <span class="user-name" id="user-name">João da Silva</span>
            <span class="user-role">Pesquisador</span>
            
            <!-- Menu Dropdown -->
            <div class="dropdown" id="dropdown">
              <ul>
                <li class="favorito-btn" id="favorite-btn">★ Favoritos</li>
                <li class="coletas-btn" id="coletas-btn">Coletas</li>
                <li id="especie-btn" id="especie-btn">Cadastrar</li>
                <li class="conta-btn" id="conta-btn">Conta</li>
                <li>Tema</li>
                <li>Fonte</li>
                <li>Gerar Código</li>
                <li>Desativar conta</li>
                <li class="sair-btn" id="sair-btn">Sair</li> <!-- Alterei -->

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Seção de Favoritos -->
      <div class="favorites2-container">
        <h2>Favoritos</h2>
        <div class="favorites2-grid">
          
          <!-- Placeholders de 12 itens favoritos -->
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
          <div class="favorite2-item"></div>
        </div>
      </div>

    </section>

      <div class="footer"></div>
   
      </div>

    <script src="../public/js/script.js"></script>
  </body>
</html>