<html></html>
  <head>
    <title>Favoritos - AquaCensus</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>
    <section class="favorites-page">
      
     <!-- Seção Header -->
     <div class="header">
        <span class="registro-logo" id="registro-logo">AQUACENSUS</span>

        <input type="text" class="search-bar" placeholder="Buscar...">
        <div class="user-info">
          <img class="profile-img" src="../public/srcImages/profile-image.png" alt="Profile Image">
          <div class="user-details">
            <!-- Username Clicável -->
            <span class="user-name" id="user-name">João da Silva</span>
            <span class="user-role">Pesquisador</span>
            
            <!-- Menu Dropdown -->
            <div class="dropdown" id="dropdown">
              <ul>
                <li class="favorito-btn" id="favorite-btn">★ Favoritos</li>
                <li class="coletas-btn" id="coletas-btn">Coletas</li>
                <li class="especie-btn" id="especie-btn">Cadastrar</li>
                <li class="conta-btn" id="conta-btn">Conta</li>
                <li>Tema</li>
                <li>Fonte</li>
                <li>Gerar Código</li>
                <li>Desativar conta</li>
                <li class="sair-btn" id="sair-btn">Sair</li> <!-- Alterei -->

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Favoritos Section -->
      <div class="favorites-section">
        <h2>Seus Favoritos <span class="icon-star">★</span></h2>
        <div class="favorites-grid">
          <div class="favorite-item highlighted"></div>
          <div class="favorite-item"></div>
          <div class="favorite-item"></div>
          <div class="favorite-item"></div>
          <div class="favorite-item"></div>
          <div class="favorite-item"></div>
          <div class="arrow-item"></div>
        </div>
      </div>

      <!-- Seção Novas Descobertas -->
      <div class="descobertas-section">
        <h2>Novas Descobertas <span class="icon-globe">🌐</span></h2>
        <div class="favorites-grid">
            <div class="favorite-item highlighted"></div>
            <div class="favorite-item"></div>
            <div class="favorite-item"></div>
            <div class="favorite-item"></div>
            <div class="favorite-item"></div>
            <div class="favorite-item"></div>
            <div class="arrow-item"></div>
          </div>
      </div>

      <!-- Seção de Pesquisadores -->
      <div class="pesquisadores-section">
        <h2>Pesquisadores <span class="icon-user">👤</span></h2>
        <div class="pesquisadores-grid">
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
          <div class=""><img src="../public/srcImages/profile-image.png" alt="More" width="90px"></div>
        </div>
      </div>
    </section>

    <div class="footer"></div>

    <script src="../public/js/script.js"></script>
  </body>
</html>