<html></html>
  <head> 
    <title>AquaCensus</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>
    <section class="pagina">

      <div class="metade-waves" id="waves-collumn-login"></div>

      <div class="metade-login" id="register-collumn-login" >
        <div class="div-logo">
          <img class="logo-img" src="../public/srcImages/aquacensus-logo.png">
        </div>

        <div class="div-mail">
          <label class="register-label">
            Email:
          </label>
          <input type="text" class="register-input" id="email-input"></input>
          <img src="../public/srcImages/mail.png" class="mail-img">
        </div>

        <div class="div-lock">
          <label class="register-label">
            Senha:
            <input type="password" class="register-input" id="password-input"></input>          
          </label>
          <img src="../public/srcImages/lock.png" class="lock-img">
        </div>

        <div class="div-btn-login">
          <button type="button" class="login-button" id="login-button">Entrar</button>
        </div>

        <div class="div-btn-cadastrar">
          <button type="button" class="cadastrar-button" id="register-button">Cadastrar</button>
        </div>
      </div>
      
    </section>

    <script src="../public/js/script.js"></script>

  </body>
</html>