

table{
	position: relative;
	left:-10px;
	top:-10px;
}
#waves-collumn-login{
	background-image: url('srcImages/wavesImg.png');
	height: 100vh;
	position:relative;
	margin:auto;
	width:39%;
}
#register-collumn-login{
	width: 36%;
	background-color: rgb(255, 255, 255);
	justify-content:center;
	align-items:center;
	text-align:center;
}
.register-label{
	padding-left: 1.5rem;
	font-size: 22px;
	font-weight: bold;
	margin:auto;
}
.register-label img {
	height: 42px;
	width: 43px;
}

.logo-img {
	width: 50%;
}

.div-logo {
	padding-left: 2rem;
}

.register-input{
	height:39px;
	width: 340px;
	font-size: 17px;
}
.login-button{
	width: 22%;
	height: 6dvh;
	position: relative;
	font-size: 1.6rem;
	font-weight: bold;
	border: 4px solid #18C1F2;
	border-radius: 15px;
	color:white;
	background-color: #18C1F2;
	text-align: center;
	margin-bottom: 1rem;
	&:hover {
		cursor:pointer;
		background-color: #149abf;
		border: 4px solid #149abf;
	}
}

.cadastrar-button{
	width: 29%;
	height: 6dvh;
	position: relative;
	font-size: 1.6rem;
	font-weight: bold;
	border: 4px solid #18C1F2;
	border-radius: 15px;
	color:white;
	background-color: #18C1F2;
	text-align: center;
	margin-bottom: 1rem;

	&:hover {
		cursor:pointer;
		background-color: #149abf;
		border: 4px solid #149abf;

	}
}


  .div-btn-cadastrar-especie{
	padding-left: 2rem;
	padding-top: 1.4rem;
	.cadastrar-button{
		width: 100%;
		height: 6dvh;
		position: relative;
		font-size: 1.6rem;
		font-weight: bold;
		border: 4px solid #0099FF;
		border-radius: 2rem;
		color:white;
		background-color: #0099FF;
		text-align: center;
		margin-bottom: 1rem;
	
		&:hover {
			cursor:pointer;
			background-color: #1291b5;
			border: 4px solid #1291b5;
	
		}
	}
	

